{{template "header" .}}
<div class="px-8">
<h1 class="py-4 text-4xl semibold tracking-tight">Contact Page</h1>

<p>To get in touch , email me at <a href="mailto:paco@dlive.tv">paco@dlive.tv</a></p>
</div>
{{template "footer" .}} 